/* Start GamesCards styles */

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-image {
  height: 304px;
}

.image {
  height: 304px;
}

.game-card {
  height: 463px;
  width: 283px;
  margin-right: 16px;
  margin-bottom: 38px;
}

.game-title {
  margin-bottom: 9px;
}

.game-divider {
  width: 25%;
  border-bottom: 3px solid #c1363c;
  margin-bottom: 18px;
}

.game-platform {
  margin-top: 9px;
}

/* End GamesCards styles */
