/* Landing section styles */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 94.5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/images/page-images/landing-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 112px;
}

.landing-container h1 {
  color: #ffffff;
  font-size: 50px;
  margin-top: 10%;
  margin-left: 10%;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 50px;
}

.button-container a {
  padding: 40px 60px 40px 60px;
  margin-right: 25px;
  font-size: 25px;
  border-radius: 50px;
}

.button-container a:hover {
  border: none;
  color: #ffffff;
}

/* End landing section styles */

@media screen and (max-width: 832px) {

  .landing-container {
    justify-content: center;
    align-items: center;
  }

  .landing-container h1 {
    font-size: 40px;
    margin-top: 0;
    margin-left: 5%;
  }

  .button-container {
    margin-left: 0;
  }

  .button-container a {
    /* Bring padding down by 10 */
    padding: 30px 50px 30px 50px;
    margin-right: 25px;
    /* Bring font-size down by 5 */
    font-size: 20px;
    border-radius: 50px;
  }

}

@media screen and (max-width: 666px) {
  .landing-container h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 583px) {
  .landing-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .landing-container h1 {
    font-size: 25px;
  }

  .button-container {
    margin-left: 0;
  }

  .button-container a {
    /* Bring padding down by 10 */
    padding: 20px 40px 20px 40px;
    margin-right: 25px;
    /* Bring font-size down by 5 */
    font-size: 15px;
    border-radius: 50px;
  }
}
