.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 163px;
}

.header-container h1 {
  color: #ffffff;
  font-size: 45px;
}
